@import "../../variaveis.css";
  
section{
  width: 100%;
  height: 100%; 
  background-color: white;
  margin-left: 10px;
  border-radius: 5px;
  
}

section h2{
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: var(--green-medium--);
}


.container.valores{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
}

.column.valores{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4px;
}

@media (max-width: 414px){

  .container.valores{
    flex-direction: column;
  }

  .column.valores{
    width: 100%;
    
  }

}