@import url('../../variaveis.css');

.p-calendar-w-btn{
  height: 22px;
  width: 200px;
}

.p-inputtext{
  padding: 0;
  font-size: 14px;
  padding-left: 10px;
}

.p-calendar-w-btn .p-datepicker-trigger.p-button{
  padding: 0;
  background-color: var(--green-medium--);
  border-radius: 2px;
  height: 100%;
}

.p-button.p-component.p-datepicker-trigger.p-button-icon-only:hover{
  background-color: var(--green-dark--);
}

.p-datepicker{
  transform: scale(0.85);
}

.p-datepicker-group-container{
  transform-origin: top left;
}

.p-datepicker-calendar{
  transform: scale(0.8);
  transform-origin: top left;
}
