
h4{
  font-size: 16px;
  text-align: center;
}

.column.valores .content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-medium--);
  margin: 2px;
  padding: 15px;
}

.form.date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form label{
  font-size: 14px;
  
}

input[type="date"]{
  margin-left: 10px;
}

input[type="submit"]{
  padding: 3px 15px 3px 15px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--green-medium--);
  color: var(--white-medium--);
  font-weight: bold;
}

input[type="submit"]:hover{
  background-color: var(--green-dark--);
}

.content span{
  font-size: 20px;
  color: var(--green-medium--);
  text-align: center;
}

.content p{
  font-size: 12px;
  text-align: center;
  color: var(--black-light--);
}

.dropdown.years{
  height: 20px;
  margin-right: 15px;
}

.dropdown.years .p-dropdown-label{
  font-size: 14px;
  padding: 0;
  padding-left: 10px;
  color: var(--black-light--)
}

ul li{
  font-size: 14px;
}

.p-calendar-w-btn{
  height: 22px;
  width: 200px;
}

.p-inputtext{
  padding: 0;
  font-size: 14px;
  padding-left: 10px;
}

.p-calendar-w-btn .p-datepicker-trigger.p-button{
  padding: 0;
  background-color: var(--green-medium--);
  border-radius: 2px;
}

.p-button.p-component.p-datepicker-trigger.p-button-icon-only:hover{
  background-color: var(--green-dark--);
}

.p-datepicker{
  transform: scale(0.85);
}

.p-datepicker-group-container{
  transform-origin: top left;
}

.p-datepicker-calendar{
  transform: scale(0.8);
  transform-origin: top left;
}
