@import "../../variaveis.css";
  
section{
  width: 100%;
  height: 100%; 
  background-color: white;
  margin-left: 10px;
  border-radius: 5px;
  
}

section h2{
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: var(--green-medium--);
}

h4{
  font-size: 14px;
  text-align: center;
}

.container.valores{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
}

.column.valores{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4px;
}

.column.valores .content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-medium--);
  margin: 2px;
  padding: 15px;
}

.form.date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form label{
  font-size: 14px;
  
}

input[type="submit"]{
  padding: 3px 15px 3px 15px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--green-medium--);
  color: var(--white-medium--);
  transition: 0.2s;
  font-weight: bold;
}

input[type="submit"]:hover{
  background-color: var(--green-dark--);
}

.content span{
  font-size: 20px;
  color: var(--green-medium--);
  text-align: center;
}

.content p{
  font-size: 12px;
  text-align: center;
  color: var(--black-light--);
}