@import "../../variaveis.css";

footer{
  width: 100%;
  background-color: var(--green-medium--);
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p{
  font-size: 12px;
  color: var(--white-medium--);
  padding: 5px;
  font-weight: medium;
  text-align: center;
}

@media (max-width: 414px){

  
}