:root{
  --white-medium--: #eceff1;
  --yellow--: #FDD741;
  --green-light--: #8FEDC2;
  --green-medium--: #24B4A5;
  --green-dark--: #009e8e;
  --green-dark2--: #166D8A;
  --black-light--: #3E4451;
}